
.dropdown-menu a:hover{
    background-color:green ;
}
.h3{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.hover:hover{
    background-color: #33b5e5;
}